:root {
    --base-font-family: 'Fira Sans', sans-serif, Helvetica;

    --blue-10-color: #93C4F5;
    --blue-30-color: #7CBAF9;
    --blue-70-color: #020275;

    --seawave-30-color: #7FACAC;

    --white-color: white;

    --dark-grey-color: #3D3D3F;

    --black-color: black;

    --main-bg-start-color: var(--blue-30-color);
    --main-bg-end-color: var(--seawave-30-color);
    --main-header-text-color: var(--blue-70-color);
    --shadow-color: #00000029;
    --tasklist-bg-color: #cbdff4bf;
    --tasklist-last-bg-color: #cbdff473;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--base-font-family);
}

ul {
    list-style: none;
}

body {
    padding: 0 4vw;
    min-height: 100vh;
    background: linear-gradient(var(--main-bg-start-color), var(--main-bg-end-color)) center / cover no-repeat;
}

#app-header {
    width: 100%;
    padding: 4vh 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header__app-name {
    font-size: clamp(1rem, 2.7vw, 3.2rem);
    color: var(--main-header-text-color);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.user-info__avatar {
    width: clamp(2rem, 6vw, 5rem);
    height: clamp(2rem, 6vw, 5rem);
    border-radius: 50%;
    border: 2px solid var(--white-color);
    background: url(../images/keanu.jpg) center / cover;
}

.user-info__username {
    font-size: clamp(1rem, 2.7vw, 3.2rem);
    color: var(--main-header-text-color);
}

#app-main {
    width: 100%;
    box-sizing: border-box;
    padding-top: 3vh;
    margin-bottom: 3vh;
}

.tasklists-list {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 3vh;
    column-gap: calc(8% / 3);
}

.tasklists-list__item {
    width: 23%;
    box-sizing: border-box;
    border-radius: 1vw;
    padding: 1vw 1.2vw;
    box-shadow: 2px 2px 4px var(--shadow-color);
    background-color: var(--tasklist-bg-color);
}

.tasklist__name {
    font-size: clamp(0.75rem, 2vw, 2rem);
    font-weight: 600;
    margin-bottom: 1vw;
    color: var(--blue-70-color);
}

.tasklist__add-task-btn {
    border: none;
    background: none;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    color: var(--dark-grey-color);
}

.tasklist__add-task-btn:hover {
    font-weight: 600;
    cursor: pointer;
}

.task {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    gap: 1vw;
    margin-bottom: 1vw;
    border-radius: 0.75vw;
    box-shadow: 2px 2px 4px var(--shadow-color);
    background-color: var(--blue-10-color);
    border: 2px solid var(--blue-10-color);
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.task:hover {
    background-color: var(--blue-30-color);
    border-color: var(--blue-70-color);
}

.task__text {
    overflow-wrap: anywhere;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.task__controls-row {
    display: flex;
    justify-content: center;
    gap: calc(2vw / 3);
}

.task__controls-row:first-child {
    margin-bottom: calc(2vw / 3);
}

.task__contol-btn {
    width: 2vw;
    height: 2vw;
    opacity: 0.6;
    border: none;
}

.task__contol-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.left-arrow-icon {
    background: url(../assets/left-arrow.svg) center / cover;
}

.right-arrow-icon {
    background: url(../assets/right-arrow.svg) center / cover;
}

.edit-icon {
    background: url(../assets/edit.svg) center / cover;
}

.delete-icon {
    background: url(../assets/delete-button.svg) center / cover;
}

.tasklist__tasks-list-item:first-child .left-arrow-icon,
.tasklist__tasks-list-item:last-child .right-arrow-icon {
    display: none;
}

.tasklist__tasks-list-item:not(:first-child) .left-arrow-icon {
    display: block;
}

.tasklist__tasks-list-item:not(:last-child) .right-arrow-icon {
    display: block;
}

.tasklist-adder {
    background-color: var(--tasklist-last-bg-color);
    transition: background-color 1s ease;
}

.tasklist-adder:hover {
    background-color: var(--tasklist-bg-color);
}

.tasklist-adder__btn {
    border: none;
    background: none;
    font-weight: 400;
    font-size: clamp(0.75rem, 2vw, 2rem);
    color: var(--blue-70-color);
}

.tasklist-adder__btn:hover {
    font-weight: 600;
    cursor: pointer;
}

.tasklist-adder__input {
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
    padding: 0.6vw;
    border-radius: 0.7vw;
    box-shadow: 0 0 4px var(--shadow-color);
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    color: var(--black-color);
    opacity: 0.7;
}

.tasklist-adder__input:hover,
.tasklist-adder__input:focus {
    opacity: 1;
}